@model string
<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="roleName" class="col-md-2 control-label">Role name</label>
        <div class="col-md-5">
            <input name="roleName" class="form-control" />
        </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Add" />
</form>