@model Category
    <form asp-action="AddCategory" method="post">
        <div class="form-group">
            <label asp-for="CategoryName" class="col-md-2 control-label"></label>
            <div class="col-md-5">
                <input asp-for="CategoryName" class="form-control" />
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Add" />
        </form>