@model RecordViewModel

@foreach (var record in Model.Records)
{
    <partial name="@record.RecordType" model="record" />
    <form method="post" asp-controller="Record" asp-action="RemoveRecord" asp-route-recordId="@record.RecordId ">
        <input type="submit" value="Delete" />
    </form>
}
