@model Record
<div style="background-color:black;color:white;padding:20px;">

    <h2>@Model.RecordHeader</h2>
    <p>
        <img src="@Model.RecordImage" style="float:right;width:42px;height:42px;">
        @Model.RecordDetails
    </p>
</div>