@model Record
    <div style="background-color:black;color:white;padding:20px;">

        <h2>@Model.RecordHeader</h2>
        <p>
            <img src="@Model.RecordImage" style="float:left;width:42px;height:42px;">
            @Model.RecordDetails
        </p>
        <form method="post" asp-controller="Record" asp-action="RemoveRecord" asp-route-recordId="@Model.RecordId ">
            <input type="submit" value="Delete" />
        </form>
    </div>
